# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.env
.venv
env/
venv/

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Project specific
*.tmp.csv
*.temp.mid
/output/
/generated/

# Output tests
patterns.json
players.json
project_detail.json
timeline.json

# Internet notes
outline.txt

# Old files
old JSONs/

# Unused files
unused/
